.container{
    background-color: #342628;
}
.image{
    border-radius: 50%;
    height: 300px;
    width: 280px; 
    margin-right: 100px;
}
.flex
{display: flex;
    margin:0 35px ;
    
     
}
.first-section{
    background-color: #c4c4c4c4;
    border-radius: 0px 0px 366px 0px;
}
.move{
    margin: 0 35px;
}
.center{

    color: #000;
    background-color: #c4c4c4c4;
    margin:  0 480px;


}
.section-two{
    display: flex;
    justify-content: space-between;
}
p{color: #000;}
h3{
    color: #000;
}
.one{
    box-shadow: 1px 1px 1px 1px #000;
    
    background-color: #c4c4c4c4;
    padding: 0 15px;
    width: 200px;
    height: 230px; 
    margin-top: 70px;
    }
    .butt{ 
        border-radius: 25px;
    background-color: #342628; 
    width: 100px;
    margin: 0 30px;
     }
     .buttt{
         width: 150px;
         border-radius: 25px;
         background-color: #342628; 
         margin: 0 30px;
     }
.two{
    box-shadow: 1px 1px 1px 1px #000;
    width: 320px;
    background-color: #c4c4c4c4;
    padding: 0 25px;
  
}
.three{
    box-shadow: 1px 1px 1px 1px #000;
    width: 200px;
    height: 230px;
    background-color: #c4c4c4c4;
    padding: 0 15px;
    margin-top: 70px;

}
.edit{color: #000;
    font-weight: bold;
    font-size: 25px;
    line-height: 56px;
}