/* .container{
    background-color: #342628;
} */
.all {
    width:fit-content;
    max-width: 90vw;
  background-color: #342628;
}
.image {
  border-radius: 60%;
  height: 25vh;
  width: 15vw;
  margin-right: 5vw;
}
/* .image img{
    width:0%;
    height: 0%;
} */
.flex {
  display: flex;
  margin: 0 35px;
}
.flex > p {
  font-size: 1em;
}
.first-section {
  background-color: #c4c4c4c4;
  border-radius: 0% 0% 40% 0%;
}
.move {
  margin: 0 35px;
}
.center {
  color: #000;
  font-size: 1em;
  width:20vw;
  background-color: #c4c4c4c4;
  /* margin: 0 480px; */
}
.section-two {
  display: flex;
  justify-content: space-between;
}
p {
  color: #000;
}
h3 {
  color: #000;
}
.one {
  box-shadow: 1px 1px 1px 1px #000;

  background-color: #c4c4c4c4;
  padding: 0 15px;
  width: 35%;
  height: 50%;
  text-align: center;
  margin-top: 70px;
  margin: 70px 15px;
}
.butt {
  border-radius: 25px;
  background-color: #342628;
  width: 100px;
  margin: 0 30px;
}
.buttt {
  width: 150px;
  border-radius: 25px;
  background-color: #342628;
  margin: 0 30px;
}
.two {
  box-shadow: 1px 1px 1px 1px #000;
  width: 30%;
  text-align: center;
  background-color: #c4c4c4c4;
  padding: 0px 1.5em;
}
.three {
  box-shadow: 1px 1px 1px 1px #000;
  width: 30%;
  height: 230px;
  text-align: center;
  background-color: #c4c4c4c4;
  padding: 0 1em;
  margin-top: 70px;
  margin: 70px 15px;
}
.edit {
  color: #000;
  font-weight: bold;
  font-size: 25px;
  line-height: 56px;
}
.align {
  text-align: center;
  font-weight: bold;
  font-size: 25px;
}
.section-three {
  background-color: #c4c4c4c4;
  height: fit-content;
}
#bold {
  color: #000;
  font-weight: bold;
  font-size: 20px;
}
li {
  color: #000;
}
li > p {
  color: #000;
}
.copyright {
  height: 30px;
  background-color: #c4c4c4c4;
}
a {
  color: #000;
}
row{
    height:fit-content;
}
.copyright{
    text-align: center;
}
.now{
  font-weight: bold;
}