.container{
    background-color: #342628;
}
.image{
    border-radius: 50%;
    height: 300px;
    width: 280px; 
    margin-right: 100px;
}
.flex
{display: flex;
    margin:0 35px ;
    
     
}
.first-section{
    background-color: #c4c4c4c4;
    border-radius: 0px 0px 366px 0px;
}
.move{
    margin: 0 35px;
}
.center{

    color: #000;
    background-color: #c4c4c4c4;

    
}
